<% include includes/header.ejs %> 

sayfa seçiniz<br>
<a href="/computer">bilgisayar</a><br>
<a href="/electronic">elektronik</a>




<script type="text/javascript">
var timer = setInterval(istek,10000)

    function istek(){

      $.ajax({
          type: 'post',
          url: 'a/',
          
          success: (data)=>{  
            $('title').html('basıldı')      
            for(var k in data){
             // console.log("başarılı",data[k])
              $('ul').append('<li>'+data[k]+'</li>');
            }
          },

          beforeSend: function(){
              $('ul').empty();
          },

          error: function(data){
            $('ul').append("İstek Başarısız");
          }
      });
    }
  </script>

  <% include includes/footer.ejs %>